@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap";
@import "normalize.css";
@import "variables/functions";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

* {
  box-sizing: border-box;
}

.theme {
  font: var(--font-m);
  color: var(--text);
  background: var(--bg);
}

.content {
  $gap: var(--spacer-x2);

  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  padding: $gap;

  &__sidebar {
    flex: 0 0 auto;
    max-height: 880px;
    margin-right: $gap;
  }

  &__main {
    flex: 1 1 auto;
  }
}
