@import "normalize.css";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

* {
  box-sizing: border-box;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  min-height: calc(100vh - var(--navbar-height));

  &__sidebar {
    flex: 0 0 auto;
    background: var(--inverted-bg-color);
  }

  &__main {
    flex: 1 1 auto;
  }
}
