# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE folders
.idea
.vscode
*.iml

# dependencies
/node_modules

# production
/dist

# env
.env

# server
json-server/articles
