.root {
  cursor: pointer;

  padding: 11px 18px;

  color: var(--text);

  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-sm);

  transition: var(--transition-btn);

  &:hover {
    border-color: var(--accent);
  }
}

.clear {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  border-radius: 0;
}

.icon {
  margin: 0;
  padding: 0;

  font-size: 0;

  background: none;
  border: none;
  border-radius: 0;
}

.secondary {
  color: var(--secondary-color);
  background: none;
  border-color: var(--secondary-color);

  &:hover {
    color: var(--accent);
    border-color: var(--accent);
  }
}
