.root {
  cursor: pointer;

  display: inline-block;

  padding: 11px 18px;

  color: var(--text);
  text-decoration: none;

  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-sm);

  transition: var(--transition-btn);

  &:hover {
    border-color: var(--accent);
  }

  &[disabled] {
    pointer-events: none;
    color: var(--hint);
  }
}

.clear {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  border-radius: 0;
}

.icon {
  margin: 0;
  padding: 0;

  font-size: 0;

  background: none;
  border: none;
  border-radius: 0;
}

.secondary {
  color: var(--secondary-color);
  background: none;
  border-color: var(--secondary-color);

  &:hover {
    color: var(--accent);
    border-color: var(--accent);
  }
}

.success {
  color: var(--text);
  background: none;
  border-color: var(--success-color);

  &:hover {
    border-color: rgb(var(--success-color-rgb) / 80%);
  }
}

.error {
  color: var(--text);
  background: none;
  border-color: var(--error-color);

  &:hover {
    border-color: rgb(var(--error-color-rgb) / 80%);
  }
}
