.link {
  display: flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;

  &__title {
    overflow: hidden;
  }

  &__icon {
    margin-right: 8px;
    color: var(--icon);
  }
}

.root {
  &.collapsed {
    .link {
      &__title {
        width: 0;
      }
    }
  }
}
