$gap: var(--spacer-x2);
$half-gap: var(--spacer);

@mixin children-centered() {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: $gap;

  & > div {
    width: 100%;
    max-width: calc(100% - #{$gap});
  }
}

.root {
  display: grid;
  grid-template: minmax(100vh, auto) auto / auto minmax(auto, 284px) minmax(320px, 920px) minmax(auto, 284px) minmax(
      auto,
      284px
    );
  grid-template-areas: "sidebar__left controls main sidebar__right tools" "footer footer footer footer footer";
}

.sidebar-left {
  position: relative;
  grid-area: sidebar__left;
  padding: $gap $half-gap $gap $gap;

  &__inner {
    position: sticky;
    top: $gap;
    height: 100%;
    max-height: 873px;
  }
}

.controls {
  grid-area: controls;
  padding: $gap $gap 0 0;
  text-align: right;

  &__inner {
    position: sticky;
    top: $gap;
    height: 100%;
    max-height: 42px;
  }
}

.main {
  @include children-centered;

  display: block;
  grid-area: main;
}

.sidebar__right {
  @include children-centered;

  grid-area: sidebar__right;
}

.tools {
  @include children-centered;

  grid-area: tools;
}

.footer {
  grid-area: footer;
  margin-bottom: $gap;
  padding: 0 $half-gap 0 $gap;
}
