.root {
  // Nothing
}

.nav__item {
  margin-bottom: 4px;
  padding: 0 10px;
}

.nav__list {
  padding: 0;
  list-style: none;

  &.collapsed {
    .nav__item {
      padding: 0 0 0 9px;
    }
  }
}
