.root {
  // Nothing
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  &__date {
    grid-column: 0 span 1;
    grid-row: 1 / -1;
    color: var(--hint);
  }

  &__views {
    display: flex;
    grid-column: 1 span 1;
    grid-row: 1 / -1;
    gap: 5px;
    align-items: center;
    justify-content: end;

    color: var(--hint);
  }

  &__title {
    grid-column: 1 / span all;
    grid-row: 0 / 1;
  }

  &__hero {
    grid-column: 1 / span all;
    margin-bottom: var(--spacer-x2);
  }
}

.body {
  margin-bottom: var(--spacer-x2);
}

.footer {
  padding: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);

  &__item {
    padding: 2px 16px;
    background: var(--light-bg);
    border-radius: 4px;
  }
}
