.root {
  display: flex;
  flex-wrap: no-wrap;
  gap: var(--spacer);
  align-items: center;

  &__left {
    font-size: 0;
    line-height: 1;
  }

  &__right {
    display: flex;
    flex: 1 1 200px;
    gap: var(--spacer);
    align-items: center;
  }
}
