.root {
  position: relative;

  display: flex;
  flex-direction: column;

  width: var(--sidebar-width);

  border-radius: var(--spacer-x2);

  transition: width 0.3s;

  &__main {
    flex-grow: 1;
  }

  &__switchers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    padding-bottom: 20px;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    font-size: 0;

    &_icon {
      transform: rotate(90deg);
      transition: var(--transition-transform);
    }
  }

  &.collapsed {
    width: var(--sidebar-width-collapsed);

    .root__toggle {
      &_icon {
        transform: rotate(-90deg);
      }
    }
  }
}
