.root {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);

  transition: width 0.3s;

  &__main {
    flex-grow: 1;
  }

  &__switchers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }
}
