.root {
  padding: var(--spacer) var(--spacer-x2);
  background: var(--dark-bg);
  border-radius: var(--border-radius);
}

.search {
  margin-bottom: var(--spacer-x3);
}

.categories {
  margin-bottom: var(--spacer-x3);
}
