.root {
  --swiper-pagination-color: var(--secondary-color);
  --swiper-pagination-bottom: 0px;

  --swiper-pagination-bullet-size: auto;
  --swiper-pagination-bullet-width: auto;
  --swiper-pagination-bullet-height: 5px;

  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 4px;
  --swiper-pagination-bullet-border-radius: 4px;

  margin-bottom: var(--spacer-x3);
}

.title {
  margin-bottom: var(--spacer-x2);
}
