@use "../../../../app/styles/variables/mixin.scss" as *;

.root {
  max-width: 920px;
  margin: 0 auto;
  padding: var(--spacer);

  background: var(--dark-bg);
  border-radius: var(--border-radius-sm);
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacer);

  .author {
    display: flex;
    align-items: center;

    &__avatar {
      margin-right: 8px;
    }
  }
}

.title {
  margin-bottom: var(--spacer);
  font: var(--font-xl);
  font-weight: bold;
}

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;

  &::before {
    content: "";

    display: block;

    width: 1px;
    padding-bottom: 50%;

    background: transparent;
  }

  &__inner {
    position: absolute;
    inset: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main {
  padding: var(--spacer) 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  &__view {
    display: flex;
    align-items: center;

    svg {
      color: var(--icon);
    }
  }
}

.skeleton {
  .hero {
    line-height: 0;
  }
}
