.root {
  cursor: pointer;
  border-left: 2px solid transparent;
}

.default {
  color: var(--text);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.active {
  color: var(--accent);
  background: linear-gradient(89.97deg, rgb(29 89 255 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  border-left-color: var(--accent);
}
